#logTurns {
    max-width: 20rem;
    color: #d2c94a;
    list-style: none;
    margin: 2rem auto;
    padding: 0;
    text-align:left;
  }
  
  #logTurns li {
    border-radius: 4px;
    animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    margin: 0.75rem;
    list-style-type:square;
  }
  
  #logTurns li.highlighted {
    background-color: #e2e1d5;
    color: white;
  }

  